<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta
    charset="UTF-8"/>
  <title>title</title>
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h1 class="mt-4 md-5">TODO Application</h1>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

    <h3>Login with:</h3>
    <p th:each="url : ${urls}">
      <a th:text="${url.key}" th:href="${url.value}">Client</a>
    </p>
  </div>
</div>

<script
  src="/js/index.js"></script>
</body>
</html>
