<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org">
<body>

<div class="wrapper fadeInDown">

  <div th:if="${message}" class="alert alert-primary" role="alert" th:text="${message}"></div>

  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h1 class="mt-4 md-5">TODO Application</h1>
    </div>

    <!-- Login Form -->
    <form id="loginForm" method="post" th:action=@{/signin}>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      New to This App?<br><a class="underlineHover" th:href=@{/signup}>Create an account.</a>
    </div>

    <div class="fadeIn first">
      <h1 class="mt-4 md-5">Login with</h1>
    </div>
    <div class="ml-2 mr-2">
      <p th:each="url : ${urls}">
        <a class="btn btn-primary btn-lg btn-block" th:href="${url.value}" th:text="${url.key}" role="button"></a>
      </p>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
</body>
</html>
